---
layout: archive
permalink: /application/
title: "海外大学院出願ー虎の巻"
author_profile : true
header:
  image: "/images/IMGP0327.JPG"
---

{% include base_path %}
{% include group-by-array collection=site.posts field="tags" %}

{% for tag in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ tag | slugify }}" class="archive__subtitle">{{ tag }}</h2>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}


{content}

昨今、一流大学院を経た大先輩諸氏によって、誰でも気軽に留学に出られるようになった。


　空港に行けば、まるで泉岳寺行き快速電車のようにドバイ経由ベルリン、ミュンヘン経由ロンドン行きのフライト情報が飛び込んでくる。（ところで私は今でもあの赤い電車が日本の主要電車であると自負している。）昔のように貨物船から母国にモールス信号を送ったり、ちょんまげ姿でえいやおうおうと大航海に出なくてもいい時代なのだ。後ろの乗客が嫌だというまでリクライニングシートを傾け、ハリーポーターを鑑賞し、コーラを何度が注文すればもうそこは地球の裏側なのだ。


　そんな身近になった海外留学のクセに、ぐうたらでユーチューブを見ることぐらいしか芸の無い私は地球の裏側につくまでに多くの時間と費用を費やしてしまった。


　そんな道のりから対価を得たのか、おそらく答えはNOだ。パワプロでイチローのようなABAAAのような素晴らしい能力選手をサクセスで作ったからと言って、お母さんが褒めてもらえないと同じだ。試合対戦の際にこっそり育成選手を使って弟にキレられ、兄弟げんかになるのが落ちなのだ。


　しかし、たまにそんな選手の作り方、いわば攻略本に興味を持ってくれるそんな友だちがクラスに一人か二人はいたかもしれない。だから今回は大学院出願における自家製の攻略本なるものをそんな人たちに向けて御披露目したい。


1. アメリカ大学院

　留学・ビジネスの王道である、MBA留学も含め、多くの人を魅了してやまないアメリカンドリーム・アメリカ。その名に恥じず大学院においても世界ランキング・学費ともに群を抜いてトップである。


　私が出願した大学と対戦結果は以下の通り。


・クラーク大学/Environmental Science and Policy

⇒合格

・コーネル大学/Public Administration and Public Policy

⇒補欠合格⇒合格辞退者が少数の為、不合格


２．カナダ大学院

　メープルシロップとアトランタホークスの国カナダ。カナダといえばもう絶対にJust For Laughである。（カナダで人気のドッキリ番組）。ちょっとマイルドなドッキリをあてられたカナダのみなさんは、時に腹を立てたり、困惑したり。いろんな反応を見せてくれる。それでも、ネタばらしされるとみんな笑顔を振りまいてOh my god~~とか言っているのだ。あの番組を見るたびになんてカナダの人って温かいんだろう！と思っていた。だからメープルシロップもあんなに美味しいのだ。（うん、そうに決まっている。）


　そんな心優しいカナダの国柄は学費も良心的だ。結局、カナダへの大学院進学はおあずけとなってしまったが、スタッフの方は親身になって出願の相談にのってくれた。空港でのお出迎え、カヌーツアーやクラスTシャツ配布とかとか。なにかと心温まるサービスを提供してくださったスタッフの皆様にはこの場も借りてありがとうと言いたい。


・メモリアル大学/Environmental Policy

　⇒奨学金付き合格


３．ドイツ大学院

　このブログ作者ドイツ語も話せるの？？と思ったあなた、心配御無用。私は全くドイツ語が話せない。知っているドイツ語といえば本当にHalloくらいなのだ。


　英語が母国語ではないヨーロッパ諸国でも英語での修士課程がある。ドイツもまた然り。入学後にドイツ語学習をする学生も多くいるのである。海に入ってから泳ぎ方を学ぶように少々荒治療ではある。でも世の中にはそういうガテン系もいるにはいるのだ。以下のコースは全てガテン系修士課程である。


　・キール大学/Environmental Management

　⇒合格

　・キール大学/Sustainability, Society and the Environment

　⇒合格

　・ミュンヘン工科大学/Sustainable Resource Management

　⇒1次試験合格後、進学先を決定した為、辞退

　・ミュンヘン工科大学/Master Life Science Economics and Policy

　⇒合格


　これまで紹介した各大学院の必要書類は以下の通り。


アメリカ大学院

カナダ大学院

ドイツ大学院

TOEFL

○

○

○

GRE

○

×

×

志望動機書

○

○

○

推薦状

○

○

○

履歴書

○

○

○

雇用証明書

×

×

○

成績証明書

○

○

○





日本の大学院と大きく異なるのは、欧米大学院には入試なるものが存在しない。上記の書類を出して終わりのものもあれば、大学によってインタビュー（その多くはスカイプ等を通して行われる）による二次試験がある。その為どんな、書類やスコアを提出するのかが大学院出願の肝となる。それでは各書類ごとに見てみよう。





＜TOEFL＞

  受験費用230ドル。I love youをI rob you と誤解された英語嫌いの私はここで大いに苦戦した。パソコンに向かい自分でも何を述べているのかわからない英語を話す苦行は思い出すだけでも寒気がする。言わずもがな費やした費用は計り知れない。





　必要スコアはやはり名門（世界大学ランキング100位内を名門とするならば）ではTOEFL100以上が多いし、確かに100あるだけでも選択肢が格段に広がる。それこそ、名前を耳にしただけでなにか胸のみぞおちあたりが苦しくなるような大学ばかりが手の中にひらひらと入りこんでくる。





　一方で、上位大学によっては必要スコアが80だったり、ランキング外でも100以上だったりするため杓子定規には図れない。大学によってはスコアがやや足りずともメールを送ればWEB上で公開されているものよりも低い点数で受け入れてくれるところもある。（大学内でもスコア規定が異なるため。）数点稼ぐために数万かけるよりは1通の無料GMAILをちょろっと送るのも手である。そう思うとGoogle様が提供してくれる無料ツールの多さには本当に感服する。





　最低ラインが80の場合、他の志願者との差をつけるためにもっと高得点を目指した方が良いのか？その答えは果たして投じる費用に対して相応の対価が得られるかということに尽きる。スコアが上であるほど得になることはあっても損になることは確かにない。しかし、最低ラインを大学が公表している限りそれ以上の差はどんぐりの背比べかもしれない。数万円かけてそこに投資するのか。それともボーダーがなく、伸びしろのある他の部門に力を入れるのか。答えは明らかであろう。





＜GRE＞

　先ほど欧米大学院は書類のみと述べたが、GREを欧米版大学院向けセンター試験と名付けても良いだろう。TOEFLと違い試験日が多い一方、受験回数が限られている。私はお茶の水の会場で受験した。ビルもトイレも大変綺麗で、とても気持ち良く快便させて頂いたのを覚えている。



時間の都合上一度しか受けることが出来なかったが、数学は日本の高等教育を通過しているであれば結構な量を解くことが出来る。一方、ライティング及びボキャブラリー部門は難題であり、かける時間・コストに見合う結果を得られたとは言い難い。





　以上、数字によって判断されるのがGREとTOEFLだ。そこには貴方がいかに英語に触れ、そのダイナミズムを知り、いかにして大学院留学を目指しパソコン上に向かってI live in Tokyoと話しかけているのか。そのプロセスも汗も涙も数字の中には表れてこない。数字が高いモン勝ちの世界だ。一方、この後述べる推薦状や志望動機書は数字の世界を離れ、ロマンの世界へと入り込むこととなる。





　いわばGPAやTOEFLではうだつの上がらなかった私やどこかにいるかもしれないそこのあなたでも差をつけることのできる。苦労のしどころがいのあるところである。





＜推薦状＞

　はじめに教授の選定。推薦状とはあなたの信頼に足る方があなたが大学院進学においてかくかく云々の点において優れ、大学/社会に寄与し、云々の御利益を与えることが出来るという太鼓判である。その場合、



１．あなたを良く知りえているのか

２．希望先大学院に精通しているか

３．あなたの研究分野・学会に精通しているか



　が判断ポイントとなってくる。この三点すべてを満たしていることに越したことは無い。





しかしよほど事がない限り、自身の研究を前もって知り、大学４年の間に特定の教授に狙いを付けている事は稀である。その場合、1~3のどれを優先べきかといえば、やはり深くあなたのことを理解して下さる方が良いであろう。研究内容・性格を理解し、場合によってはドラフトなるものを書き上げて共に推敲してくれるかもしれない。推薦状の一般的なストリーリーラインは以下の通りである。







　・初めに…：

私が○○さんを推薦することを光栄に思うこと（I am pleasured to recommend ○○~）、本人と推薦人との関係（論文担当、同部署の上司など）、どの程度、本人を知りえているのかを強調する。



　・本論①：

同氏に対する推薦人からの評価、授業/プロジェクトに対する姿勢、情熱、能力、与えたインパクト/成果。



　・本論②：

個人的エピソードなど。



　・結論：

同氏が進学希望とする大学院にいかに適しているのか、どのような利益を大学や社会全体に与えうるのか。



　・終わりに…：

推薦人からの最後の一押し（I am confident that he is qualified to successfully~）。



　



あなたはそんなに自分をヨイショしたものを教授/上司に求め、その上署名までもらうとは、なんて厚顔無恥なんだと思うかもしれない。しかし就活然り、ビジネス然り、卒業以来顔を合わせる同窓会での旧友然り、なににしたってヨイショしておいて損はないのだ。





＜志望動機書(Personal Statement)＞

　推薦状と同じく、こちらもヨイショのしがいがあるところだ。仮にもMaster of Personal Statementの異名、通称パソナーの異名を持つ私が大事にしていることは一点、～研究計画書を組み込め～である。





　大学/院という最高学府がみなに期待していることは何であろうか。ミスター/ミスキャンパスに応募し、途上国で学校を建て、企業とのコラボレーションで世界一周することであろうか。どれもとても素晴らしいことであるし、上記のどれか一つをやれともし言われれば、おそらく私は途方に、いやYoutubeに暮れ、薄明りの朝方にカップヌードルをすすりながら煙草を吸うのが精いっぱいであろう。





　しかし、大学院が志望者に求めることはそんな挫折を味わいながらカップヌードルをすすることではない。どのような研究成果を求め、該当研究分野はじめ社会全体にどの程度貢献しうるのかという事である。となれば、一度、現状・問題意識・先行研究・仮説・研究目的を推敲し、二年間の計画実施カレンダーなるものを作ることが一見遠回りのようで一番の近道である。何故なら研究計画書を型としてあとは各コース毎に科目構成・内容・教授陣を精査し、肉付けすることで各志望動機書を展開できるからだ。







　はじめに…：

将来の目標/希望修士コースへの情熱

⇒研究の目的



　背景：

       どうして本研究/本大学院を希望するのか

       ⇒現状・問題意識



　学術関心②：

       大学院にて学びたいこと～履修したいクラスや注目プログラム～

       ⇒二年間の計画実施カレンダーの一年目にあたる

⇒先行研究を踏まえた研究計画



　学術関心③：

       大学院にて学びたいこと～修士論文テーマや注目した研究者～

       ⇒二年間の計画実施カレンダーの二年目にあたる

       ⇒先行研究を踏まえた研究計画



　将来の目標：

       本大学院を通じどのような人材としてどのように社会に寄与するのか

       ⇒現状・問題意識・研究目的を踏まえての展開







　このように研究計画書を軸にストリーラインを展開できる。あとは型から離れ、幼少期の体験、キーパーソンとの出会いや、実務経験を通じた課題など個々で必須と感じていくものを肉付けしていくと貴方だけの志望動機書が出来上がるだろう。





＜雇用証明書＞

　こちらはドイツ大学院において必要となる書類である。紙媒体での書類の多さはこちらドイツに来ても群を抜いて多いであろう。さらに署名やハンコも重宝される為、電子データ化やコピーといったものが通用しない。





　雇用証明書も同様である。主に履歴書にて記入したフルタイム/インターンシップ/ボランティア活動など記入したものは全てその活動を証明する書類が必要となる。これはドイツにおけるProktikumに該当する。ドイツでは例えばインターンシップ修了時などにおいて担当上司より評価書なるものが与えられ、その評価書を躍起になって集める学生が多い。





　いや待ってください、日本にはそんなものありませんよ？じゃあどうするのか、一から作るわけである。作成にあたっては１.発行機関のレターヘッド、２．勤務期間、４．業務内容、５．署名/印、は押さえておきたい。念のため大学ごとに必要項目を確認することも欠かせないだろう。




＜補足:以下にロマンを醸し出すのか＞　



　一つ目はすなわち推敲は日英両言語で作成することだ。

日本語には独特の文体、言い回し、読者に理解しやすい文章校正があるように英語にもそのような言語構成が存在する。日本語を母語とするのであれば、一度日本語を通した方が良いだろう。第一稿は英語でも構わない。しかしどれだけ英語に自信がある方でもやはりネイティブに比べて文章展開がおかしかったり、日本語に直してみるとどうもちぐはぐした文章になっている事に気が付くであろう。そういった部分はやはり英語ネイティブからみてもちぐはぐのものなのだ。

それらを一度そぎ落とし、意味の通る日本語に書き換え英語に直していく。すると日本語では割愛しても理解できたワードがどうも英語では伝わってこない。そういったバランスを日英繰り返していくと自分の伝えたいことが綺麗に文章に入り込み、かつ理路整然とした英語のステイトメントが出来上がる。

　このプロセスは翻訳に似たところがあるのかもしれない。そういった疑似翻訳体験をしながら自分の今後の夢日記なるものを作るのも一つの醍醐味なのだ。





　二つ目は限りなく多くの人の目に触れてもらうことに尽きる

　どんなに推敲を重ねた文章でも、このブログのようにどこか自己僭越に終わっていたり、金魚のフンのように臭いものがついている時がある。そういったときにはやはり他の人から色眼鏡なしで忌憚ない意見を言ってもらうことが一番手っ取り早い。私の場合は



　１．近しい友人・家族

　２．同じ研究分野/留学先に精通する人（勤務先の先輩・教授・卒業生など）

　３．英語母語話者



　の方々に、これで良しと思った原稿をを同時にお願いした。彼らの的を得た意見を下に何度も推敲し、出願締め切り10日くらい前に信頼できるネイティブスピーカーに最後の英語の確認をしてもらった。また最近では出願書向けのオンラインサービスも割とお手頃な値段であるので、そちらもお勧めしたい。（http://www.editmyenglish.com/）






　以上、かなり駆け足で大学院出願の攻略点を書いてみた。ここまで来てやはり感じるのは、大学院プロセスというのは、どれだけ美味しくあなたの料理を出願先の方々に食べてもらうかである。どんな前菜（TOEFL/GRE）を用意し、メインディッシュ（志望動機書）は何を食べてもらい、食後のテザート（推薦状）で気持ち良くなって帰ってもらうのか。

 そこにはレストランの空間（成績証明書/雇用証明書）も大事になってくる。顧客によって好みの食べ物も、何度も通いたいと思う空間も違うのだ。故に正解といえるようなものもなく、ゴールの見えないものは時に嫌気がさすものだ。私も何度も辞めてしまおうかと考えたし、そのたびに同じような道を通り、道筋を与えてくれたのは他でもないブログの数々と卒業生の方であった。この記事もささやかではあるがそのこれから幸か不幸かそんなプロセスに乗り込んだ人の一助に少しでもなれば幸いである。
